// Border Collapse
// --------------------------------------------------------------------------

.borderCollapse-collapse {
  border-collapse: collapse;
}

.borderCollapse-separate {
  border-collapse: separate;
}

// Border Color
// --------------------------------------------------------------------------

@each $name, $value in $color-values {
  .borderColor-#{$name} {
    border-color: $value;
  }
}

// Border Style
// --------------------------------------------------------------------------

.borderStyle-solid {
  border-style: solid;
}

// Border Width
// --------------------------------------------------------------------------

@each $name, $value in $borderWidth-values {
  .borderWidth-#{$name} {
    border-width: $value;
  }

  .borderWidthTop-#{$name} {
    border-top-width: $value;
  }

  .borderWidthBottom-#{$name} {
    border-bottom-width: $value;
  }

  .borderWidthLeft-#{$name} {
    border-left-width: $value;
  }

  .borderWidthRight-#{$name} {
    border-right-width: $value;
  }
}

// Border Radius
// --------------------------------------------------------------------------

@each $name, $value in $borderRadius-values {
  .borderRadius-#{$name} {
    border-radius: $value;
  }

  .borderRadiusTop-#{$name} {
    border-radius: $value $value 0 0;
  }

  .borderRadiusBottom-#{$name} {
    border-radius: 0 0 $value $value;
  }

  .borderRadiusLeft-#{$name} {
    border-radius: $value 0 0 $value;
  }

  .borderRadiusRight-#{$name} {
    border-radius: 0 $value $value 0;
  }

  .borderRadiusBottomLeft-#{$name} {
    border-radius: 0 0 0 $value;
  }

  .borderRadiusBottomRight-#{$name} {
    border-radius: 0 0 $value 0;
  }

  .borderRadiusTopLeft-#{$name} {
    border-radius: $value 0 0 0;
  }

  .borderRadiusTopRight-#{$name} {
    border-radius: 0 $value 0 0;
  }
}
