// Display
// --------------------------------------------------------------------------

.display-block {
  display: block;
}

.display-inlineBlock {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.display-inlineFlex {
  display: inline-flex;
}

.display-none {
  display: none;
}
