// Flexbox
// --------------------------------------------------------------------------

.flexGrow-1 {
  flex-grow: 1;
}

.flexShrink-1 {
  flex-shrink: 1;
}

// Flex Basis
// --------------------------------------------------------------------------

.flexBasis-100 {
  flex-basis: 100%;
}

// Flex Direction
// --------------------------------------------------------------------------

@each $value in ( column, column-reverse, row, row-reverse ) {
  .flexDirection-#{camelize(inspect($value))} {
    flex-direction: $value;
  }
}

// Justify Content
// --------------------------------------------------------------------------

@each $value in ( center, flex-start, flex-end, space-around, space-between ) {
  .justifyContent-#{camelize(inspect($value))} {
    justify-content: $value;
  }
}

// Align Items
// --------------------------------------------------------------------------

@each $value in ( center, flex-start, flex-end, space-around, space-between, stretch ) {
  .alignItems-#{camelize(inspect($value))} {
    align-items: $value;
  }
}

// Align Content
// --------------------------------------------------------------------------

@each $value in ( center, flex-start, flex-end, stretch, baseline ) {
  .alignContent-#{camelize(inspect($value))} {
    align-content: $value;
  }
}
