/**
 * Flex Direction
 */

@each $direction in row, column {
  .flex-#{$direction} {
    flex-direction: $direction;

    &-reverse {
      flex-direction: #{$direction}-reverse;
    }
  }
}

/**
 * Align Items
 */

@each $alignment in end, center, baseline, stretch {
  .align-items-#{$alignment} {
    align-items: $alignment;
  }
}

/**
 * Justify Content
 */

@each $name, $alignment in (start: flex-start, end: flex-end, center: center, between: space-between, around: space-around) {
  .justify-content-#{$name} {
    justify-content: $alignment;
  }
}
