// Flexbox
// --------------------------------------------------------------------------

.flex-1 {
  flex: 1;
}

.flex-none {
  flex: none;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexShrink-1 {
  flex-shrink: 1;
}

// Flex Basis
// --------------------------------------------------------------------------

.flexBasis-100 {
  flex-basis: 100%;
}

// Flex Direction
// --------------------------------------------------------------------------

.flexDirection-column {
  flex-direction: column;
}

.flexDirection-columnReverse {
  flex-direction: column-reverse;
}

.flexDirection-row {
  flex-direction: row;
}

.flexDirection-rowReverse {
  flex-direction: row-reverse;
}

// Flex Wrap
// --------------------------------------------------------------------------

.flexWrap-nowrap {
  flex-wrap: nowrap;
}

.flexWrap-wrap {
  flex-wrap: wrap;
}

.flexWrap-wrapReverse {
  flex-wrap: wrap-reverse;
}

.flexWrap-inherit {
  flex-wrap: inherit;
}

.flexWrap-initial {
  flex-wrap: initial;
}

.flexWrap-unset {
  flex-wrap: unset;
}

// Justify Content
// --------------------------------------------------------------------------

.justifyContent-center {
  justify-content: center;
}

.justifyContent-flexStart {
  justify-content: flex-start;
}

.justifyContent-flexEnd {
  justify-content: flex-end;
}

.justifyContent-spaceAround {
  justify-content: space-around;
}

.justifyContent-spaceBetween {
  justify-content: space-between;
}

// Align Items
// --------------------------------------------------------------------------

.alignItems-center {
  align-items: center;
}

.alignItems-flexStart {
  align-items: flex-start;
}

.alignItems-flexEnd {
  align-items: flex-end;
}

.alignItems-spaceAround {
  align-items: space-around;
}

.alignItems-spaceBetween {
  align-items: space-between;
}

.alignItems-stretch {
  align-items: stretch;
}

// Align Content
// --------------------------------------------------------------------------

.alignContent-center {
  align-content: center;
}

.alignContent-flexStart {
  align-content: flex-start;
}

.alignContent-flexEnd {
  align-content: flex-end;
}

.alignContent-stretch {
  align-content: stretch;
}

.alignContent-baseline {
  align-content: baseline;
}
