// Font Family
// --------------------------------------------------------------------------

@each $name, $value in $fontFamily-values {
  .fontFamily-#{$name} {
    font-family: $value;
  }
}

.fontFamily-inherit {
  font-family: inherit;
}

// Font Size
// --------------------------------------------------------------------------

@each $name, $value in $fontSize-values {
  .fontSize-#{$name} {
    font-size: $value;
  }
}

// Font Style
// --------------------------------------------------------------------------

.fontStyle-normal {
  font-style: normal;
}

.fontStyle-italic {
  font-style: italic;
}

// Font Weight
// --------------------------------------------------------------------------

.fontWeight-bold {
  font-weight: bold;
}

.fontWeight-bolder {
  font-weight: bolder;
}

.fontWeight-normal {
  font-weight: normal;
}

.fontWeight-lighter {
  font-weight: lighter;
}

@for $value from 1 through 9 {
  .fontWeight-#{$value} {
    font-weight: $value * 100;
  }
}

// Line Height
// --------------------------------------------------------------------------

@each $name, $value in $lineHeight-values {
  .lineHeight-#{$name} {
    line-height: $value;
  }
}
