@each $duration, $value in $transitionDuration-values {
  .transitionDuration-#{$duration} {
    transition-duration: $value;
  }
}

@each $property in $transitionProperty-values {
  .transitionProperty-#{camelize($property)} {
    transition-property: $property;
  }
}

@each $function in $transitionTimingFunction-values {
  .transitionTimingFunction-#{camelize($function)} {
    transition-timing-function: $function;
  }
}
