.appearance-none {
  appearance: none;
}

.cursor-pointer {
  cursor: pointer;
}

.outlineStyle-none {
  outline-style: none;
}

.pointerEvents-none {
  pointer-events: none;
}

.userSelect-none {
  user-select: none;
}
