@each $unit in $spacingUnit-values {
  @each $size, $value in $spacingSize-values {
    .#{$unit}-#{$size} {
      #{$unit}: #{$value};
    }

    @each $direction in $spacingDirection-values {
      .#{$unit}#{titleize($direction)}-#{$size} {
        #{$unit}-#{$direction}: #{$value};
      }
    }

    .#{$unit}Horizontal-#{$size} {
      #{$unit}-left: #{$value};
      #{$unit}-right: #{$value};
    }

    .#{$unit}Vertical-#{$size} {
      #{$unit}-bottom: #{$value};
      #{$unit}-top: #{$value};
    }
  }
}

.marginHorizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $overflow in $overflow-values {
  .overflow-#{camelize($overflow)} {
    overflow: $overflow;
  }
}
