@for $i from 10 through 100 {
  @if $i % 5 == 0 {
    .width-#{$i} {
      width: percentage($i / 100);
    }

    .height-#{$i} {
      height: percentage($i / 100);
    }
  }
}

.width-oneThird {
  width: percentage(1 / 3);
}

.width-twoThird {
  width: percentage(2 / 3);
}

.width-auto {
  width: auto;
}

.height-auto {
  height: auto;
}
