@each $alignment in $textAlignment-values {
  .textAlign-#{camelize($alignment)} {
    text-align: $alignment;
  }
}

@each $decoration in $textDecoration-values {
  .textDecoration-#{camelize($decoration)} {
    text-decoration: $decoration;
  }
}

@each $overflow in $textOverflow-values {
  .textOverflow-#{camelize($overflow)} {
    text-overflow: $overflow;
  }
}

@each $transform in $textTransform-values {
  .textTransform-#{camelize($transform)} {
    text-transform: $transform;
  }
}

.textRendering-optimizeLegibility {
  text-rendering: optimizeLegibility;
}

@each $whiteSpace in $whiteSpace-values {
  .whiteSpace-#{camelize($whiteSpace)} {
    white-space: $whiteSpace;
  }
}
