// Border Collapse
// --------------------------------------------------------------------------

@each $collapse in $borderCollapse-values {
  .borderCollapse-#{camelize($collapse)} {
    border-collapse: $collapse;
  }
}

// Border Style
// --------------------------------------------------------------------------

@each $style in $borderStyle-values {
  .borderStyle-#{camelize($style)} {
    border-style: #{$style};
  }
}

// Border Width
// --------------------------------------------------------------------------

@for $width from 0 through $borderWidth-amount {
  $name: if($width == 0, none, $width);
  $value: if($width == 0, $width, #{$width}px);

  .borderWidth-#{$name} {
    border-width: $value;
  }

  .borderWidthTop-#{$name} {
    border-top-width: $value;
  }

  .borderWidthBottom-#{$name} {
    border-bottom-width: $value;
  }

  .borderWidthLeft-#{$name} {
    border-left-width: $value;
  }

  .borderWidthRight-#{$name} {
    border-right-width: $value;
  }
}

// Border Radius
// --------------------------------------------------------------------------

@each $size, $value in $borderRadius-values {
  .borderRadius-#{$size} {
    border-radius: $value;
  }

  .borderRadiusTop-#{$size} {
    border-radius: $value $value 0 0;
  }

  .borderRadiusBottom-#{$size} {
    border-radius: 0 0 $value $value;
  }

  .borderRadiusLeft-#{$size} {
    border-radius: $value 0 0 $value;
  }

  .borderRadiusRight-#{$size} {
    border-radius: 0 $value $value 0;
  }

  .borderRadiusBottomLeft-#{$size} {
    border-radius: 0 0 0 $value;
  }

  .borderRadiusBottomRight-#{$size} {
    border-radius: 0 0 $value 0;
  }

  .borderRadiusTopLeft-#{$size} {
    border-radius: $value 0 0 0;
  }

  .borderRadiusTopRight-#{$size} {
    border-radius: 0 $value 0 0;
  }
}

.borderRadius-circle {
  border-radius: 50%;
}
