.appearance-none {
  appearance: none;
}

// Cursor
// --------------------------------------------------------------------------

@each $cursor in $cursor-values {
  .cursor-#{camelize($cursor)} {
    cursor: $cursor;
  }
}

.outlineStyle-none {
  outline-style: none;
}

.pointerEvents-none {
  pointer-events: none;
}

.userSelect-none {
  user-select: none;
}
