// Appearance
// --------------------------------------------------------------------------

.appearance-none {
  appearance: none;
}

// Cursor
// --------------------------------------------------------------------------

.cursor-colResize {
  cursor: col-resize;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-default {
  cursor: default;
}

.cursor-eResize {
  cursor: e-resize;
}

.cursor-ewResize {
  cursor: ew-resize;
}

.cursor-grab {
  cursor: grab;
}

.cursor-inherit {
  cursor: inherit;
}

.cursor-move {
  cursor: move;
}

.cursor-neswResize {
  cursor: nesw-resize;
}

.cursor-noDrop {
  cursor: no-drop;
}

.cursor-notAllowed {
  cursor: not-allowed;
}

.cursor-nResize {
  cursor: n-resize;
}

.cursor-nsResize {
  cursor: ns-resize;
}

.cursor-nwseResize {
  cursor: nwse-resize;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-rowResize {
  cursor: row-resize;
}

.cursor-sResize {
  cursor: s-resize;
}

.cursor-text {
  cursor: text;
}

.cursor-verticalText {
  cursor: vertical-text;
}

.cursor-wResize {
  cursor: w-resize;
}

.cursor-zoomIn {
  cursor: zoom-in;
}

.cursor-zoomOut {
  cursor: zoom-out;
}

// Outline Style
// --------------------------------------------------------------------------

.outlineStyle-none {
  outline-style: none;
}

// Pointer Events
// --------------------------------------------------------------------------

.pointerEvents-auto {
  pointer-events: auto;
}

.pointerEvents-none {
  pointer-events: none;
}

// User Select
// --------------------------------------------------------------------------

.userSelect-none {
  user-select: none;
}
