// List Style Type
// --------------------------------------------------------------------------

.listStyleType-decimal {
  list-style-type: decimal;
}

.listStyleType-disc {
  list-style-type: disc;
}

.listStyleType-none {
  list-style-type: none;
}
