/**
 * Margin
 */

@for $i from 0 through 16 {
  $value: $i * 0.25rem;

  .m-#{$i} {
    margin: $value;
  }

  .mx-#{$i} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$i} {
    margin-top: $value;
    margin-bottom: $value;
  }

  @each $direction in top, bottom, left, right {
    .m#{str-slice($direction, 0, 1)}-#{$i} {
      margin-#{$direction}: $value;
    }
  }
}

@each $direction in top, bottom, left, right {
  .m#{str-slice($direction, 0, 1)}-auto {
    margin-#{$direction}: auto;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Padding
 */

@for $i from 0 through 16 {
  $value: $i * 0.25rem;

  .p-#{$i} {
    padding: $value;
  }

  .px-#{$i} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$i} {
    padding-top: $value;
    padding-bottom: $value;
  }

  @each $direction in top, bottom, left, right {
    .p#{str-slice($direction, 0, 1)}-#{$i} {
      padding-#{$direction}: $value;
    }
  }
}

@each $direction in top, bottom, left, right {
  .p#{str-slice($direction, 0, 1)}-auto {
    padding-#{$direction}: auto;
  }
}
