// Table Layout
// --------------------------------------------------------------------------

.tableLayout-auto {
  table-layout: auto;
}

.tableLayout-fixed {
  table-layout: fixed;
}

// Vertical Align
// --------------------------------------------------------------------------

.verticalAlign-baseline {
  vertical-align: baseline;
}

.verticalAlign-sub {
  vertical-align: sub;
}

.verticalAlign-super {
  vertical-align: super;
}

.verticalAlign-top {
  vertical-align: top;
}

.verticalAlign-textTop {
  vertical-align: text-top;
}

.verticalAlign-middle {
  vertical-align: middle;
}

.verticalAlign-bottom {
  vertical-align: bottom;
}

.verticalAlign-textBottom {
  vertical-align: text-bottom;
}
