// Text Align
// --------------------------------------------------------------------------

.textAlign-initial {
  text-align: initial;
}

.textAlign-left {
  text-align: left;
}

.textAlign-right {
  text-align: right;
}

.textAlign-center {
  text-align: center;
}

.textAlign-justify {
  text-align: justify;
}

// Text Decoration
// --------------------------------------------------------------------------

.textDecoration-lineThrough {
  text-decoration: line-through;
}

.textDecoration-none {
  text-decoration: none;
}

.textDecoration-overline {
  text-decoration: overline;
}

.textDecoration-underline {
  text-decoration: underline;
}

// Text Overflow
// --------------------------------------------------------------------------

.textOverflow-clip {
  text-overflow: clip;
}

.textOverflow-ellipsis {
  text-overflow: ellipsis;
}

.textOverflow-string {
  text-overflow: string;
}

// Text Transform
// --------------------------------------------------------------------------

.textTransform-capitalize {
  text-transform: capitalize;
}

.textTransform-fullWidth {
  text-transform: full-width;
}

.textTransform-lowercase {
  text-transform: lowercase;
}

.textTransform-none {
  text-transform: none;
}

.textTransform-uppercase {
  text-transform: uppercase;
}

.textTransform-inherit {
  text-transform: inherit;
}

// Text Rendering
// --------------------------------------------------------------------------

.textRendering-optimizeLegibility {
  text-rendering: optimizeLegibility;
}

.textRendering-geometricPrecision {
  text-rendering: geometricPrecision;
}

.textRendering-optimizeSpeed {
  text-rendering: optimizeSpeed;
}

.textRendering-auto {
  text-rendering: auto;
}

// Text Shadow
// --------------------------------------------------------------------------

.textShadow-none {
  text-shadow: none;
}

// White Space
// --------------------------------------------------------------------------

.whiteSpace-normal {
  white-space: normal;
}

.whiteSpace-nowrap {
  white-space: nowrap;
}

.whiteSpace-pre {
  white-space: pre;
}

.whiteSpace-preLine {
  white-space: pre-line;
}

.whiteSpace-preWrap {
  white-space: pre-wrap;
}
