// Transition Duration
// --------------------------------------------------------------------------

@each $name, $value in $transitionDuration-values {
  .transitionDuration-#{$name} {
    transition-duration: $value;
  }
}

// Transition Property
// --------------------------------------------------------------------------

.transitionProperty-all {
  transition-property: all;
}

.transitionProperty-none {
  transition-property: none;
}

// Transition Timing Function
// --------------------------------------------------------------------------

.transitionTimingFunction-linear {
  transition-timing-function: linear;
}

.transitionTimingFunction-ease {
  transition-timing-function: ease;
}

.transitionTimingFunction-easeIn {
  transition-timing-function: ease-in;
}

.transitionTimingFunction-easeOut {
  transition-timing-function: ease-out;
}

.transitionTimingFunction-easeInOut {
  transition-timing-function: ease-in-out;
}
